.card-body {
    background-color: #c82d2d;
    
}

#logo {
    height: 100px;
    width: 100px;
}

#end-score {
    color: white;
    text-align: center;
    text-decoration: none;
}

html{
    cursor: url("https://img.icons8.com/color/50/000000/basketball.png"), auto;
}