.uk-card-footer {
  text-align: center;
}

/* html { 
  background: url("https://images-na.ssl-images-amazon.com/images/I/61HUXDu6hFL._AC_SL1468_.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */


.Quiz .white {
 color: white;
}

#header {
  margin-top: 10px;
}

a:hover {
  background-color: transparent;
}

/* Using !important to override whatever uikit had as priority for cards */
.uk-card-hover:not(.uk-card-default):not(.uk-card-primary):not(.uk-card-secondary):hover {
  background: transparent !important;
  cursor: pointer;
}



#centerQuiz {
  padding-top: 10px;
}
.PvP {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

#quizContainer {
  color: white;
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61HUXDu6hFL._AC_SL1468_.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 320px) {
  style-element {
    font-size: 10px;
  }
}