.uk-card-footer {
  text-align: center;
}
/* html { 
  background: url("https://images-na.ssl-images-amazon.com/images/I/61HUXDu6hFL._AC_SL1468_.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
.Quiz .white {
 color: white;
 text-shadow: 2px 2px red;
 text-decoration: none;
}
.Quiz h2 {
  margin-top: 6rem !important;
}
#header {
  padding-top: 10px;
}
a:hover {
  background-color: transparent;
}
/* Using !important to override whatever uikit had as priority for cards */
.uk-card-hover:not(.uk-card-default):not(.uk-card-primary):not(.uk-card-secondary):hover {
  background: transparent !important;
   cursor: url(http://cur.cursors-4u.net/smilies/smi-3/smi207.cur), auto !important;
}
#centerQuiz {
  padding-top: 10px;
}
.PvP {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
#quizContainer {
  color: white;
  background: rgba(0,0,0,0.5) url("https://images-na.ssl-images-amazon.com/images/I/61HUXDu6hFL._AC_SL1468_.jpg");
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: url("https://img.icons8.com/color/50/000000/basketball.png"), auto;
}

#score-card {
  text-align: center;
}

/* @media only screen and (max-height: 1100px) {
  #quizContainer {
    height: 50%;
  }
} */
