/* Dunk or Flunk title  */
.Signup h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: orange;
    margin-top: 14rem;
    margin-bottom: -1rem;
    font-weight: bolder;
    text-decoration: underline;
}
/* login title */
.Signup h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-weight: bolder;
    text-decoration: underline;
}
/* username/password */
form{
    text-align: center;
    font-family: monospace;
}
/* p = link to login */
.Signup p{
    text-align: center;
    margin:2rem;
    font-weight: 700;
    margin-left: 3rem;
    font-size: xx-large;
    font-family: monospace;
}
/* image for background */
#signupContainer{
    color:black;
    background-image: url("https://www.ecopetit.cat/wpic/mpic/165-1657200_baller-silhouette-photography-of-man-dunking-basketball-basketball.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    cursor: url("https://img.icons8.com/color/50/000000/basketball.png"), auto;
  }
  /* submit button */
.btn{
color: red;
font-size: large;
font-weight: 800;
border:dashed;
cursor: url("https://img.icons8.com/color/50/000000/basketball.png"), auto;
}
.uk-card-body{
    margin-top:-5rem;
    cursor:url("https://img.icons8.com/color/50/000000/basketball.png"), auto;
}