.card-body {
    background-color: #c82d2d; 
}

#logo {
    height: 100px;
    width: 100px;
}

#end-score {
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    margin-top: 0rem;
}
.Hscore{color: yellow;}

#end-score-card {
    margin-right: 10%;
}
.text-center{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-top: -1rem;
    font-size: 52px;
    color: black;
    text-transform: capitalize;
}
.container{
    cursor: url("https://img.icons8.com/color/50/000000/basketball.png"), auto;
}

.jumbotron-fluid{
    margin:0;
    background: url("./EndQuiz.jpg");
    background-size: cover;
}
#logout {
    float: left;
    color: yellow;
    margin-left: -6rem;
    
  }