.card-body {
    background-color: #c82d2d; 
}

#logo {
    height: 100px;
    width: 100px;
}

#end-score {
    color: white;
    text-align: center;
    text-decoration: none;
}

#end-score-card {
    margin-right: 10%;
}
.text-center{
    text-align: center;
}
.container{
    cursor: url("https://img.icons8.com/color/50/000000/basketball.png"), auto;
}