#homeContainer {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: absolute;
  cursor: url("https://img.icons8.com/color/50/000000/basketball.png"), auto;
  background-color: black;
}

.App-intro {
  font-size: large;
}

#home-logo {
  height: 250px;
  width: 250px;
  margin-bottom: -1rem;
  
}

#welcome {
  margin-top: 5%;
  
}

#logout {
  float: left;
  color: black;
  
}

#gotoprofile {
  float: right;
  color: black;
  
}

#playnowbtn {
  background-color: #c82d2d;
  border: none;
  color: white;
  cursor: url(http://cur.cursors-4u.net/sports/spo-1/spo12.png), auto !important;
}

#viewhighbtn {
  background-color: lightskyblue;
  border: none;
  color: white;
}

.homebtns {
  margin-top: 25%;
  margin-left: 32%;
  

} 

#reminder{
  color: #c82d2d;
}

 p{  
font-family: 'Oswald', sans-serif;
color: #c82d2d;
padding:1rem;
margin-bottom: 0rem;}

 /* .row{display: flow-root;} */

 #title {
   margin-top: -1rem;
   font-family: 'Oswald', sans-serif;
   color: white;
   font-size: xx-large;
 }

 
 
.middle{color: blue;}
.end{color: white;}
img{margin-bottom: -2rem;}