.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

#home-logo {
  height: 200px;
  width: 200px;
}

#logout {
  float: left;
}

#gotoprofile {
  float: right;
}

#playnowbtn {
  background-color: #c82d2d;
  border: none;
  color: white;
  margin-top: 10%;
  margin-left: 10%;
}

#viewhighbtn {
  background-color: lightskyblue;
  border: none;
  color: white;
}

.homebtns {
  margin-top: 20%;
  margin-left: 32%;

}

#reminder {
  margin-top: 10%;
}


