/* .profile {
    background-color: red;
    background-size: cover;
} */
.homecontainer {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    cursor: url("https://img.icons8.com/color/50/000000/basketball.png"), auto;
    background-image: url(https://www.ocala.com/storyimage/LK/20171127/NEWS/171128376/AR/0/AR-171128376.jpg?MaxW=600);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .App-intro {
    font-size: large;
  }
  
  .Profile #home-logo1{
    height: 250px;
    width: 250px;
    margin-left: -4rem;
  
  }
  
  #welcome{
    margin-top: -6%;
    font-family: 'Oswald', sans-serif;
    font-size: xxx-large;
    color: wheat;
  }
  
  #logout1{
    float: left;
    color: white;
  }
  
  #gotoprofile {
    float: right;
    color: black;
    
  }
  
  #playnowbtn {
    background-color: #c82d2d;
    border: none;
    color: white;
    cursor: url(http://cur.cursors-4u.net/sports/spo-1/spo12.png), auto !important;
    margin-top: 1rem;
  }
  
  #viewhighbtn {
    background-color: lightskyblue;
    border: none;
    color: white;
    margin-top: 1rem;
  }
  
  .homebtns {
    margin-top: 25%;
    margin-left: 32%;
    
  
  } 
  
  #reminder{
    color: white;
    font-size: x-large;
  }
  
   p{font-family: 'Oswald', sans-serif;}
  
   .row{display: flow-root;}
