.uk-card-footer {
  text-align: center;
}
.Quiz html { font-size: 1vw; }
/* html { 
  background: url("https://images-na.ssl-images-amazon.com/images/I/61HUXDu6hFL._AC_SL1468_.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
.Quiz .white {
 color: white;
 text-shadow: 2px 2px red;
 text-decoration: none;
}
.Quiz h2 {
  margin-top: 6rem !important;
}
.Quiz h3 {
  font-size: 2em;
}
#header {
  padding-top: 10px;
}
a:hover {
  background-color: transparent;
}
/* Using !important to override whatever uikit had as priority for cards */
.uk-card-hover:not(.uk-card-default):not(.uk-card-primary):not(.uk-card-secondary):hover {
  background: transparent !important;
   cursor: url(http://cur.cursors-4u.net/smilies/smi-3/smi207.cur), auto !important;
}
#centerQuiz {
  padding-top: 10px;
}
.PvP {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
#quizContainer {
  position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  color: white;
  background: rgba(0,0,0,0.5) url("https://images-na.ssl-images-amazon.com/images/I/61HUXDu6hFL._AC_SL1468_.jpg");
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: url("https://img.icons8.com/color/50/000000/basketball.png"), auto;
}
.Quiz hr {
  margin: 0em;
}

#score-card {
  text-align: center;
}
.Quiz img {
  max-width: 400px;
  height:400px;
  width: 400px;
}
.Quiz .uk-width-1-1 {
  justify-content: center;
}

@media only screen and (max-height: 900px) {
  .Quiz img {
    max-width: 275px;
    height:275px;
    width: 275px;
  }
  .Quiz h3 {
    font-size: 2rem;
  }

  .Quiz h2 {
    margin-top: 3rem !important;
  }
  .Quiz .uk-card-header{
    padding-left: 6rem;
  }
}

@media only screen and (max-height: 640px) {
  .Quiz img {
    max-width: 125px;
    height: 125px;
    width: 125px;
  }
  .Quiz h3 {
    font-size: 1.5rem;
  }

  .Quiz h2 {
    margin-top: 1.5rem !important;
  }
  .Quiz .uk-card-header{
    padding-left: 4rem;
  }
}